/* Project Section */
.project {
    background-color: #131313;
    padding: 80px 0;
}

.project__container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* two columns equal side by side */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.project__content {
    color: #fff;
    width: 100%;
}

.project__content h1 {
    font-size: 40px;
    background-color: #fe3b6f;
    background: linear-gradient(
        to right,
        #ff6a00,
        #ee0979
    );

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.project__content h2 {
    font-size: 32px;
    background: #96c93d;
    background: -webkit-linear-gradient(
        to right,
        #00b09b,
        #96c93d
    );
    background: linear-gradient(
        to right,
        #00b09b,
        #96c93d
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.project__content p {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 100;
}

/* very similar to main__btn, never used */
/* .project__btn {
    font-size: 24px;
    background: #833ab4;
    background: -webkit-linear-gradient(
        to right,
        #f5af19,
        #f12711
    );

    background: linear-gradient(
        to right,
        #f5af19,
        #f12711
    );

    padding: 20px 30px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 32px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
} 

.project__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.project__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.project__btn:hover {
    color: #fff;
}

.project__btn:hover:after {
    width: 100%;
}

*/

.project__img--container {
    text-align: center;
}

.project__img--card {
    margin: 10px;
    height: 250px;
    width: 250px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    /* background-image: linear-gradient(to right, #ff512f 0%, #f09819 100%); */
    background-color: #00b4db;
}

.fa-code, .fa-users { /* resize the code icon on the Kev Dev section */
    font-size: 64px;
}

/* Mobile Responsive of Project Section*/
@media screen and (max-width: 1100px) {
    .project__container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .project__img--container {
        display: flex;
        justify-content: center;
    }

    .project__img--card {
        height: 250px;
        width: 250px;
    }

    .project__content {
        text-align: center;
        margin-bottom: 64px;
    }

    .project__content h1 {
        font-size: 40px;
        margin-top: 32px;
    }

    .project__content h2 {
        font-size: 32px;
    }

    .project__content p {
        margin-top: 16px;
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {
    .project__img--card {
        width: 250px;
        height: 250px;
    }

    .fa-users, .fa-code {
        font-size: 64px;
    }

    .project__content h1 {
        font-size: 32px;
        margin-top: 48px;
    }

    .project__content h2 {
        font-size: 24px;
    }

    .project__content p {
        margin-top: 16px;
        font-size: 18px;
    }

    /* .project__btn {
        padding: 12px 36px;
        margin: 40px 0;
    } */
}