
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;

}

/* Main Section Home Page CSS */
.main {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 65vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 64px;
    background-color: #ee0979;
    background: linear-gradient(
        to right,
        #ff6a00,
        #ee0979
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 64px;
    background-color: #ff8177;
    background: linear-gradient(
        to right,
        #00cdac,
        #02aab0
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 16px;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.main__btn {
    font-size: 24px;
    /* background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%); */
    background-color: #ff4b1f;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 32px;
    position: relative;
    transition: all 0.35s;
    outline: none;
    margin-right: 5px;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 10px;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 3rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2.5rem;
    }

    .main__content p {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* cta Section Home Page CSS */
.cta {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; /* original value: 100vh */
}

.cta h1 {
    background-color: #ee0979;
    background: linear-gradient(
        to right,
        #ff6a00,
        #ee0979
    );
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 48px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.cta__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cta__card { /* Work Experiences CTA Card | Default Image for all CTA */
    margin: 16px;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(17,17,17,0.6) 100%),
        url('/images/code-image.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.cta__card:nth-child(2) { /* Skill Sets CTA Card */
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(17,17,17,0.6) 100%),
        url('/images/gaming-keyboard.jpg');
}

.cta__card:nth-child(3) { /* My Projects CTA Card */
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(17,17,17,0.6) 100%),
        url('/images/macbook-laptop.jpg');
}

.cta h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.cta__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.cta__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #ff4b1f;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 16px;
    cursor: pointer;
}

.cta__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .cta {
        height: 1600px;
    }

    .cta h1 {
        font-size: 48px;
        margin-top: 12px;
    }
}

@media screen and (max-width: 480px) {
    .cta {
        height: 1700px; /* made specifically to handle 3 CTA buttons without overlap of the footer */
    }

    .cta h1 {
        font-size: 32px;
    }

    .cta__card {
        width: 300px; /* original size: 300px */
        height: 500px;
    }
}